.form {

  margin: 60px;
  background-color: bisque;
  padding: 30px;
  font-weight: 300;
  font-weight: bold;
  width: 500PX;
}

.lastLine {
   margin: 60px;
font-style: italic;

font-size: 25px;


}