.card {

  margin: 10px;
    background-color: bisque;
        width: 330px;
            height: 320px;
    
}

.cardBody{

  background-color: bisque;
 
}

.cardTitle {

  background-color:darkgoldenrod;
  padding: 10px;
  font-weight: 500;
  font-weight: bolder;
}

.cardhastag {
  background-color: rgb(217, 182, 127);
  padding: 10px;
}

.buttons {

  display: flex;
  justify-content: space-between;
  
}

.description {

text-align: justify;

}